<h1>Show Post</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @post.name %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @post.desc %>
  </li>

  <li>
    <strong>Approved:</strong>
    <%= @post.approved %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
